section.copyright-section
    padding-bottom: 25px

+below(768px)
    .copyright-content
        h1 
            font-size: 2em
            line-height: 3em
        h2 
            font-size: 1.8em 
            line-height: 3em
