.footer 
    background: clrgb(blck, .95)
    padding: 3rem 0 1rem;
    border-top: 1px solid clrgb(prim, 0.2);

.footer-content 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
    justify-items:  center

.footer-logo 
    display: flex;
    align-items: center;
    gap: 1rem;

.footer-logo-icon 
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

.footer-logo-icon i 
    font-size: 25px;
    color: clr(blck)

.footer-section h4 
    color: clr(prim)
    margin-bottom: 1rem;
    text-align: center

.footer-section p 
    color: clr(second_2);
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

.con_qr
    width 126px 


.footer-social 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

.con 
    display: flex
    align-items: center;
    gap: 22px;

.footer-social a 
    color: clr(second_2);
    text-decoration: none;
    transition: color 0.3s ease;


.footer-social a:hover 
    color: clr(prim)

.footer-bottom 
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid clrgb(prim, 0.1);
    color: #888;

.footer-bottom p
    text-align: center

.footer-bottom a  
    color: clr(second)

.footer-bottom a:hover 
    color: clr(prim)
    
+below(t)

    .footer-logo
        flex-direction: column;
    
    .footer-logo-icon
        width: 96px;
        border-radius: unset;
        border: unset;
        background: unset;
        box-shadow: none;
    
    .footer-section p
        text-align: center;
        display: block;

    
    .footer-content 
        grid-template-columns: repeat(2, 1fr)
        text-align: center;


+below(sm)
    .footer-content 
        grid-template-columns: repeat(1, 1fr)
