// библиотеки 
@import "../node_modules/nib"
@import "../node_modules/rupture/rupture"
// @import "../../node_modules/axis/axis"

@import "default/play"
@import "header"
@import "main/*"
@import "footer"

 
