@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?99021687');
  src: url('../font/fontello.eot?99021687#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?99021687') format('woff2'),
       url('../font/fontello.woff?99021687') format('woff'),
       url('../font/fontello.ttf?99021687') format('truetype'),
       url('../font/fontello.svg?99021687#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99021687#fontello') format('svg');
  }
}
*/
[class^="fontello-"]:before, [class*=" fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello-mail:before { content: '\e800'; } /* '' */
.fontello-mail-alt:before { content: '\e801'; } /* '' */
.fontello-mail-squared:before { content: '\e802'; } /* '' */
.fontello-search:before { content: '\e803'; } /* '' */
.fontello-heart-empty:before { content: '\e804'; } /* '' */
.fontello-heart:before { content: '\e805'; } /* '' */
.fontello-star:before { content: '\e806'; } /* '' */
.fontello-star-empty:before { content: '\e807'; } /* '' */
.fontello-star-half:before { content: '\e808'; } /* '' */
.fontello-star-half-alt:before { content: '\e809'; } /* '' */
.fontello-child:before { content: '\e80a'; } /* '' */
.fontello-female:before { content: '\e80b'; } /* '' */
.fontello-male:before { content: '\e80c'; } /* '' */
.fontello-picture:before { content: '\e80d'; } /* '' */
.fontello-camera:before { content: '\e80e'; } /* '' */
.fontello-videocam:before { content: '\e80f'; } /* '' */
.fontello-video:before { content: '\e810'; } /* '' */
.fontello-camera-alt:before { content: '\e811'; } /* '' */
.fontello-ok:before { content: '\e812'; } /* '' */
.fontello-cancel:before { content: '\e813'; } /* '' */
.fontello-plus:before { content: '\e814'; } /* '' */
.fontello-minus:before { content: '\e815'; } /* '' */
.fontello-help:before { content: '\e816'; } /* '' */
.fontello-info:before { content: '\e817'; } /* '' */
.fontello-home:before { content: '\e818'; } /* '' */
.fontello-link:before { content: '\e819'; } /* '' */
.fontello-unlink:before { content: '\e81a'; } /* '' */
.fontello-lock:before { content: '\e81b'; } /* '' */
.fontello-lock-open:before { content: '\e81c'; } /* '' */
.fontello-eye:before { content: '\e81d'; } /* '' */
.fontello-eye-off:before { content: '\e81e'; } /* '' */
.fontello-tag:before { content: '\e81f'; } /* '' */
.fontello-tags:before { content: '\e820'; } /* '' */
.fontello-bookmark:before { content: '\e821'; } /* '' */
.fontello-bookmark-empty:before { content: '\e822'; } /* '' */
.fontello-thumbs-up:before { content: '\e823'; } /* '' */
.fontello-thumbs-down:before { content: '\e824'; } /* '' */
.fontello-thumbs-up-alt:before { content: '\e825'; } /* '' */
.fontello-thumbs-down-alt:before { content: '\e826'; } /* '' */
.fontello-download:before { content: '\e827'; } /* '' */
.fontello-upload:before { content: '\e828'; } /* '' */
.fontello-download-cloud:before { content: '\e829'; } /* '' */
.fontello-upload-cloud:before { content: '\e82a'; } /* '' */
.fontello-quote-left:before { content: '\e82b'; } /* '' */
.fontello-quote-right:before { content: '\e82c'; } /* '' */
.fontello-code:before { content: '\e82d'; } /* '' */
.fontello-share:before { content: '\e82e'; } /* '' */
.fontello-phone:before { content: '\e82f'; } /* '' */
.fontello-rss:before { content: '\e830'; } /* '' */
.fontello-lightbulb:before { content: '\e831'; } /* '' */
.fontello-angle-left:before { content: '\e832'; } /* '' */
.fontello-angle-right:before { content: '\e833'; } /* '' */
.fontello-angle-up:before { content: '\e834'; } /* '' */
.fontello-angle-down:before { content: '\e835'; } /* '' */
.fontello-down-dir:before { content: '\e836'; } /* '' */
.fontello-up-dir:before { content: '\e837'; } /* '' */
.fontello-left-dir:before { content: '\e838'; } /* '' */
.fontello-right-dir:before { content: '\e839'; } /* '' */
.fontello-youtube:before { content: '\e83a'; } /* '' */
.fontello-youtube-squared:before { content: '\e83b'; } /* '' */
.fontello-youtube-play:before { content: '\e83c'; } /* '' */
.fontello-vkontakte:before { content: '\e83d'; } /* '' */
.fontello-whatsapp:before { content: '\e83e'; } /* '' */
.fontello-twitter:before { content: '\e83f'; } /* '' */
.fontello-twitter-squared:before { content: '\e840'; } /* '' */
.fontello-skype:before { content: '\e841'; } /* '' */
.fontello-facebook-official:before { content: '\e842'; } /* '' */
.fontello-gplus:before { content: '\e843'; } /* '' */
.fontello-google:before { content: '\e844'; } /* '' */
.fontello-facebook-squared:before { content: '\e845'; } /* '' */
.fontello-facebook:before { content: '\e846'; } /* '' */
.fontello-behance-squared:before { content: '\e847'; } /* '' */
.fontello-behance:before { content: '\e848'; } /* '' */
.fontello-user:before { content: '\e849'; } /* '' */
.fontello-users:before { content: '\e84a'; } /* '' */
.fontello-heart-1:before { content: '\e84b'; } /* '' */
.fontello-heart-empty-1:before { content: '\e84c'; } /* '' */
.fontello-search-1:before { content: '\e84d'; } /* '' */
.fontello-star-1:before { content: '\e84e'; } /* '' */
.fontello-star-empty-1:before { content: '\e84f'; } /* '' */
.fontello-down-dir-1:before { content: '\e850'; } /* '' */
.fontello-left-dir-1:before { content: '\e851'; } /* '' */
.fontello-right-dir-1:before { content: '\e852'; } /* '' */
.fontello-up-dir-1:before { content: '\e853'; } /* '' */
.fontello-quote:before { content: '\e854'; } /* '' */
.fontello-yandex-rect:before { content: '\e855'; } /* '' */
.fontello-yandex:before { content: '\e856'; } /* '' */
.fontello-icq:before { content: '\e857'; } /* '' */
.fontello-odnoklassniki:before { content: '\e858'; } /* '' */
.fontello-odnoklassniki-rect:before { content: '\e859'; } /* '' */
.fontello-vkontakte-rect:before { content: '\e85a'; } /* '' */
.fontello-linkedin-rect:before { content: '\e85b'; } /* '' */
.fontello-linkedin:before { content: '\e85c'; } /* '' */
.fontello-avatar-inside-a-circle:before { content: '\e85d'; } /* '' */
.fontello-big-winners-cup1:before { content: '\e85e'; } /* '' */
.fontello-exclamation-mark-inside-a-circle:before { content: '\e85f'; } /* '' */
.fontello-list-of-works1:before { content: '\e860'; } /* '' */
.fontello-right-arrow-inside-a-circle:before { content: '\e861'; } /* '' */
.fontello-browser-3:before { content: '\e862'; } /* '' */
.fontello-flask1:before { content: '\e863'; } /* '' */
.fontello-medal1:before { content: '\e864'; } /* '' */
.fontello-safe-box1:before { content: '\e865'; } /* '' */
.fontello-battery1:before { content: '\e866'; } /* '' */
.fontello-briefcase1:before { content: '\e867'; } /* '' */
.fontello-screen1:before { content: '\e868'; } /* '' */
.fontello-medal-1:before { content: '\e869'; } /* '' */
.fontello-folder1:before { content: '\e86a'; } /* '' */
.fontello-browser-4:before { content: '\e86b'; } /* '' */
.fontello-save-disk1:before { content: '\e86c'; } /* '' */
.fontello-lock-blocked1:before { content: '\e86d'; } /* '' */
.fontello-facebook-thumb-up1:before { content: '\e86e'; } /* '' */
.fontello-book-with-bookmarker:before { content: '\e86f'; } /* '' */
.fontello-badge-with-ribbons1:before { content: '\e870'; } /* '' */
.fontello-big-cancel-symbol1:before { content: '\e871'; } /* '' */
.fontello-cancel-symbol-inside-a-circle:before { content: '\e872'; } /* '' */
.fontello-fast-foward-circular-button:before { content: '\e873'; } /* '' */
.fontello-long-checklist1:before { content: '\e874'; } /* '' */
.fontello-search-magnifying-glass:before { content: '\e875'; } /* '' */
.fontello-browser-5:before { content: '\e876'; } /* '' */
.fontello-garbage1:before { content: '\e877'; } /* '' */
.fontello-megaphone1:before { content: '\e878'; } /* '' */
.fontello-seo-label1:before { content: '\e879'; } /* '' */
.fontello-arrows-right-line1:before { content: '\e87a'; } /* '' */
.fontello-cross31:before { content: '\e87b'; } /* '' */
.fontello-doorico:before { content: '\e87c'; } /* '' */
.fontello-arrows-left-line1:before { content: '\e87d'; } /* '' */
.fontello-shopping-cart-1:before { content: '\e87e'; } /* '' */
.fontello-shopping-cart1:before { content: '\e87f'; } /* '' */
.fontello-share-1:before { content: '\e880'; } /* '' */
.fontello-mobile-phone1:before { content: '\e881'; } /* '' */
.fontello-garbage-1:before { content: '\e882'; } /* '' */
.fontello-calculator1:before { content: '\e883'; } /* '' */
.fontello-shaking-hands1:before { content: '\e884'; } /* '' */
.fontello-map-placeholder1:before { content: '\e885'; } /* '' */
.fontello-file-with-text-lines1:before { content: '\e886'; } /* '' */
.fontello-capital-letter-t:before { content: '\e887'; } /* '' */
.fontello-big-check-mark1:before { content: '\e888'; } /* '' */
.fontello-big-circular-clock1:before { content: '\e889'; } /* '' */
.fontello-cellohone-with-touch-screen:before { content: '\e88a'; } /* '' */
.fontello-flash-light1:before { content: '\e88b'; } /* '' */
.fontello-megaphone-mute1:before { content: '\e88c'; } /* '' */
.fontello-shopping-basket-with-handle:before { content: '\e88d'; } /* '' */
.fontello-calendar1:before { content: '\e88e'; } /* '' */
.fontello-id-card1:before { content: '\e88f'; } /* '' */
.fontello-mouse1:before { content: '\e890'; } /* '' */
.fontello-photo-camera1:before { content: '\e891'; } /* '' */
.fontello-keyboard1:before { content: '\e892'; } /* '' */
.fontello-chair1:before { content: '\e893'; } /* '' */
.fontello-square-shop1:before { content: '\e894'; } /* '' */
.fontello-megaphone-with-sound-lines:before { content: '\e895'; } /* '' */
.fontello-floating-with-add-button:before { content: '\e896'; } /* '' */
.fontello-circle-with-right-arrow:before { content: '\e897'; } /* '' */
.fontello-big-cloud1:before { content: '\e898'; } /* '' */
.fontello-speech-bubble1:before { content: '\e899'; } /* '' */
.fontello-photo-camera-1:before { content: '\e89a'; } /* '' */
.fontello-laptop1:before { content: '\e89b'; } /* '' */
.fontello-clock1:before { content: '\e89c'; } /* '' */
.fontello-stop-circular-button1:before { content: '\e89d'; } /* '' */
.fontello-message-bubble1:before { content: '\e89e'; } /* '' */
.fontello-folded-flag1:before { content: '\e89f'; } /* '' */
.fontello-circular-down-arrow-button1:before { content: '\e8a0'; } /* '' */
.fontello-big-cogwheel1:before { content: '\e8a1'; } /* '' */
.fontello-stats1:before { content: '\e8a2'; } /* '' */
.fontello-pie-chart1:before { content: '\e8a3'; } /* '' */
.fontello-laptop-1:before { content: '\e8a4'; } /* '' */
.fontello-cloud1:before { content: '\e8a5'; } /* '' */
.fontello-three-bars-graphic1:before { content: '\e8a6'; } /* '' */
.fontello-minus-sign-circular-button:before { content: '\e8a7'; } /* '' */
.fontello-folded-map-with-mark1:before { content: '\e8a8'; } /* '' */
.fontello-circular-pause-button1:before { content: '\e8a9'; } /* '' */
.fontello-big-eye1:before { content: '\e8aa'; } /* '' */
.fontello-stats-1:before { content: '\e8ab'; } /* '' */
.fontello-placeholder1:before { content: '\e8ac'; } /* '' */
.fontello-laptop-2:before { content: '\e8ad'; } /* '' */
.fontello-cloud-computing1:before { content: '\e8ae'; } /* '' */
.fontello-travel-suitcase1:before { content: '\e8af'; } /* '' */
.fontello-old-video-camera1:before { content: '\e8b0'; } /* '' */
.fontello-horizontal-full-battery1:before { content: '\e8b1'; } /* '' */
.fontello-circular-play-button1:before { content: '\e8b2'; } /* '' */
.fontello-big-file-folder1:before { content: '\e8b3'; } /* '' */
.fontello-stick-man1:before { content: '\e8b4'; } /* '' */
.fontello-placeholder-1:before { content: '\e8b5'; } /* '' */
.fontello-levels1:before { content: '\e8b6'; } /* '' */
.fontello-cloud-computing-1:before { content: '\e8b7'; } /* '' */
.fontello-two-extend-arrows1:before { content: '\e8b8'; } /* '' */
.fontello-online-shopping-cart1:before { content: '\e8b9'; } /* '' */
.fontello-hunting-target1:before { content: '\e8ba'; } /* '' */
.fontello-circular-plus-button1:before { content: '\e8bb'; } /* '' */
.fontello-big-garbage-bin1:before { content: '\e8bc'; } /* '' */
.fontello-big-headphones1:before { content: '\e8bd'; } /* '' */
.fontello-circular-power-on-button:before { content: '\e8be'; } /* '' */
.fontello-inclined-pencil1:before { content: '\e8bf'; } /* '' */
.fontello-open-book-with-text-lines1:before { content: '\e8c0'; } /* '' */
.fontello-two-speech-bubbles1:before { content: '\e8c1'; } /* '' */
.fontello-coffee-cup1:before { content: '\e8c2'; } /* '' */
.fontello-light-bulb1:before { content: '\e8c3'; } /* '' */
.fontello-placeholder-2:before { content: '\e8c4'; } /* '' */
.fontello-tag-1:before { content: '\e8c5'; } /* '' */
.fontello-target1:before { content: '\e8c6'; } /* '' */
.fontello-placeholder-3:before { content: '\e8c7'; } /* '' */
.fontello-light-bulb-1:before { content: '\e8c8'; } /* '' */
.fontello-computer1:before { content: '\e8c9'; } /* '' */
.fontello-two-stacks-of-coins1:before { content: '\e8ca'; } /* '' */
.fontello-options-circular-button:before { content: '\e8cb'; } /* '' */
.fontello-inclined-puspin1:before { content: '\e8cc'; } /* '' */
.fontello-circular-question-mark-button:before { content: '\e8cd'; } /* '' */
.fontello-big-house1:before { content: '\e8ce'; } /* '' */
.fontello-big-old-microphone1:before { content: '\e8cf'; } /* '' */
.fontello-click-hand1:before { content: '\e8d0'; } /* '' */
.fontello-internet-signal1:before { content: '\e8d1'; } /* '' */
.fontello-passion-heart1:before { content: '\e8d2'; } /* '' */
.fontello-up-arrow-inside-circle:before { content: '\e8d3'; } /* '' */
.fontello-earth-globe1:before { content: '\e8d4'; } /* '' */
.fontello-light-bulb-2:before { content: '\e8d5'; } /* '' */
.fontello-play-button1:before { content: '\e8d6'; } /* '' */
.fontello-trophy1:before { content: '\e8d7'; } /* '' */
.fontello-truck1:before { content: '\e8d8'; } /* '' */
.fontello-play-video1:before { content: '\e8d9'; } /* '' */
.fontello-line-chart1:before { content: '\e8da'; } /* '' */
.fontello-earth-globe-1:before { content: '\e8db'; } /* '' */
.fontello-upload-arrow-and-outbox1:before { content: '\e8dc'; } /* '' */
.fontello-photo-camera-with-round-len1:before { content: '\e8dd'; } /* '' */
.fontello-laptop-with-big-screen:before { content: '\e8de'; } /* '' */
.fontello-closed-envelope1:before { content: '\e8df'; } /* '' */
.fontello-big-picture-with-landscape1:before { content: '\e8e0'; } /* '' */
.fontello-big-screen1:before { content: '\e8e1'; } /* '' */
.fontello-closed-wallet1:before { content: '\e8e2'; } /* '' */
.fontello-left-arrow-inside-a-circle:before { content: '\e8e3'; } /* '' */
.fontello-pie-chart-with-four-pieces1:before { content: '\e8e4'; } /* '' */
.fontello-wall-calendar-with-lines1:before { content: '\e8e5'; } /* '' */
.fontello-earth-globe-2:before { content: '\e8e6'; } /* '' */
.fontello-list1:before { content: '\e8e7'; } /* '' */
.fontello-plug1:before { content: '\e8e8'; } /* '' */
.fontello-upload-1:before { content: '\e8e9'; } /* '' */
.fontello-webcam1:before { content: '\e8ea'; } /* '' */
.fontello-printer1:before { content: '\e8eb'; } /* '' */
.fontello-magnet1:before { content: '\e8ec'; } /* '' */
.fontello-eye-1:before { content: '\e8ed'; } /* '' */
.fontello-alarm-bell1:before { content: '\e8ee'; } /* '' */
.fontello-planet-sphere1:before { content: '\e8ef'; } /* '' */
.fontello-left-quotation-marks1:before { content: '\e8f0'; } /* '' */
.fontello-clothes-tag1:before { content: '\e8f1'; } /* '' */
.fontello-big-smartphone1:before { content: '\e8f2'; } /* '' */
.fontello-big-star1:before { content: '\e8f3'; } /* '' */
.fontello-credit-card-with-lines1:before { content: '\e8f4'; } /* '' */
.fontello-license-document1:before { content: '\e8f5'; } /* '' */
.fontello-play-movie1:before { content: '\e8f6'; } /* '' */
.fontello-briefcase-1:before { content: '\e8f7'; } /* '' */
.fontello-file1:before { content: '\e8f8'; } /* '' */
.fontello-magnifying-glass1:before { content: '\e8f9'; } /* '' */
.fontello-puzzle1:before { content: '\e8fa'; } /* '' */
.fontello-alarm-clock1:before { content: '\e8fb'; } /* '' */
.fontello-archives1:before { content: '\e8fc'; } /* '' */
.fontello-rocket-launch1:before { content: '\e8fd'; } /* '' */
.fontello-magnifying-glass-1:before { content: '\e8fe'; } /* '' */
.fontello-file-1:before { content: '\e8ff'; } /* '' */
.fontello-browser1:before { content: '\e900'; } /* '' */
.fontello-printer-with-paper1:before { content: '\e901'; } /* '' */
.fontello-light-bulb-on1:before { content: '\e902'; } /* '' */
.fontello-dislike-thumb1:before { content: '\e903'; } /* '' */
.fontello-big-sun1:before { content: '\e904'; } /* '' */
.fontello-big-traffic-lights1:before { content: '\e905'; } /* '' */
.fontello-document-with-text-lines:before { content: '\e906'; } /* '' */
.fontello-line-graph-with-circles:before { content: '\e907'; } /* '' */
.fontello-refreshing-curve-arrows1:before { content: '\e908'; } /* '' */
.fontello-browser-1:before { content: '\e909'; } /* '' */
.fontello-finances1:before { content: '\e90a'; } /* '' */
.fontello-magnifying-glass-2:before { content: '\e90b'; } /* '' */
.fontello-rocket-launch-1:before { content: '\e90c'; } /* '' */
.fontello-badge1:before { content: '\e90d'; } /* '' */
.fontello-basket1:before { content: '\e90e'; } /* '' */
.fontello-router1:before { content: '\e90f'; } /* '' */
.fontello-mail-1:before { content: '\e910'; } /* '' */
.fontello-flag1:before { content: '\e911'; } /* '' */
.fontello-browser-2:before { content: '\e912'; } /* '' */
.fontello-rewind-circular-button:before { content: '\e913'; } /* '' */
.fontello-linked-squares1:before { content: '\e914'; } /* '' */
.fontello-download-arrow-and-inbox1:before { content: '\e915'; } /* '' */
.fontello-big-water-drop1:before { content: '\e916'; } /* '' */
.fontello-instagram:before { content: '\e917'; } /* '' */
.fontello-forumbee:before { content: '\e918'; } /* '' */
.fontello-foursquare:before { content: '\e919'; } /* '' */
.fontello-car-first-aid-kit:before { content: '\e91a'; } /* '' */
.fontello-down-big:before { content: '\e91b'; } /* '' */
.fontello-left-big:before { content: '\e91c'; } /* '' */
.fontello-right-big:before { content: '\e91d'; } /* '' */
.fontello-up-big:before { content: '\e91e'; } /* '' */
.fontello-heart-2:before { content: '\e91f'; } /* '' */
.fontello-heart-empty-2:before { content: '\e920'; } /* '' */
.fontello-star-empty-2:before { content: '\e921'; } /* '' */
.fontello-star-2:before { content: '\e922'; } /* '' */
.fontello-calendar:before { content: '\e923'; } /* '' */
.fontello-star-empty-3:before { content: '\e924'; } /* '' */
.fontello-star-3:before { content: '\e925'; } /* '' */
.fontello-cancel-2:before { content: '\e926'; } /* '' */
.fontello-ok-1:before { content: '\e927'; } /* '' */
.fontello-up:before { content: '\e928'; } /* '' */
.fontello-right:before { content: '\e929'; } /* '' */
.fontello-left:before { content: '\e92a'; } /* '' */
.fontello-down:before { content: '\e92b'; } /* '' */
.fontello-up-open-big:before { content: '\e92c'; } /* '' */
.fontello-right-open-big:before { content: '\e92d'; } /* '' */
.fontello-left-open-big:before { content: '\e92e'; } /* '' */
.fontello-down-open-big:before { content: '\e92f'; } /* '' */
.fontello-dot-3:before { content: '\e930'; } /* '' */
.fontello-dot-2:before { content: '\e931'; } /* '' */
.fontello-dot:before { content: '\e932'; } /* '' */
.fontello-menu-1:before { content: '\e933'; } /* '' */
.fontello-truck:before { content: '\e934'; } /* '' */
.fontello-trucks:before { content: '\e935'; } /* '' */
.fontello-safebox:before { content: '\e936'; } /* '' */
.fontello-pollution:before { content: '\e937'; } /* '' */
.fontello-notepad:before { content: '\e938'; } /* '' */
.fontello-engineer:before { content: '\e939'; } /* '' */
.fontello-diploma:before { content: '\e93a'; } /* '' */
.fontello-coin:before { content: '\e93b'; } /* '' */
.fontello-calendar-2:before { content: '\e93c'; } /* '' */
.fontello-blueprint:before { content: '\e93d'; } /* '' */
.fontello-left-arrow:before { content: '\e95b'; } /* '' */
.fontello-phone-call:before { content: '\e95c'; } /* '' */
.fontello-right-arrow:before { content: '\e95d'; } /* '' */
.fontello-right-quote:before { content: '\e95e'; } /* '' */
.fontello-cogwheel:before { content: '\e960'; } /* '' */
.fontello-ufo:before { content: '\e961'; } /* '' */
.fontello-medal:before { content: '\e962'; } /* '' */
.fontello-coins:before { content: '\e963'; } /* '' */
.fontello-command:before { content: '\e964'; } /* '' */
.fontello-megaphone:before { content: '\e965'; } /* '' */
.fontello-basket:before { content: '\e966'; } /* '' */
.fontello-microscope:before { content: '\e967'; } /* '' */
.fontello-compass:before { content: '\e968'; } /* '' */
.fontello-cup:before { content: '\e969'; } /* '' */
.fontello-mortarboard:before { content: '\e96a'; } /* '' */
.fontello-loupe:before { content: '\e96b'; } /* '' */
.fontello-website:before { content: '\e96c'; } /* '' */
.fontello-mountain:before { content: '\e96d'; } /* '' */
.fontello-diagram:before { content: '\e96e'; } /* '' */
.fontello-dialog:before { content: '\e96f'; } /* '' */
.fontello-documentation:before { content: '\e970'; } /* '' */
.fontello-paper-plane:before { content: '\e971'; } /* '' */
.fontello-dollar-bill:before { content: '\e972'; } /* '' */
.fontello-pointer:before { content: '\e973'; } /* '' */
.fontello-rocket:before { content: '\e974'; } /* '' */
.fontello-dollar-coins:before { content: '\e975'; } /* '' */
.fontello-employee:before { content: '\e976'; } /* '' */
.fontello-employees:before { content: '\e977'; } /* '' */
.fontello-flag:before { content: '\e978'; } /* '' */
.fontello-flask:before { content: '\e979'; } /* '' */
.fontello-binoculars:before { content: '\e97a'; } /* '' */
.fontello-calculator:before { content: '\e97b'; } /* '' */
.fontello-calendar-1:before { content: '\e97c'; } /* '' */
.fontello-clock:before { content: '\e97d'; } /* '' */
.fontello-coffee-cup-1:before { content: '\e97e'; } /* '' */
.fontello-line-graph:before { content: '\e97f'; } /* '' */
.fontello-light-bulb:before { content: '\e980'; } /* '' */
.fontello-lifebuoy:before { content: '\e981'; } /* '' */
.fontello-laptop:before { content: '\e982'; } /* '' */
.fontello-glasses:before { content: '\e983'; } /* '' */
.fontello-smartphone-1:before { content: '\e984'; } /* '' */
.fontello-speedometer:before { content: '\e985'; } /* '' */
.fontello-statistics:before { content: '\e986'; } /* '' */
.fontello-store:before { content: '\e987'; } /* '' */
.fontello-suitcase:before { content: '\e988'; } /* '' */
.fontello-tasks:before { content: '\e989'; } /* '' */
.fontello-telescope:before { content: '\e98a'; } /* '' */
.fontello-tie:before { content: '\e98b'; } /* '' */
.fontello-piggy-bank:before { content: '\e98c'; } /* '' */
.fontello-brain:before { content: '\e98d'; } /* '' */
.fontello-coffee-cup:before { content: '\e98e'; } /* '' */
.fontello-target:before { content: '\e98f'; } /* '' */
.fontello-horse:before { content: '\e990'; } /* '' */
.fontello-smartphone:before { content: '\e991'; } /* '' */
.fontello-cog-alt:before { content: '\e998'; } /* '' */
.fontello-cog:before { content: '\e999'; } /* '' */
.fontello-wrench:before { content: '\e99a'; } /* '' */
.fontello-down-open-1:before { content: '\e99b'; } /* '' */
.fontello-left-open-1:before { content: '\e99c'; } /* '' */
.fontello-right-open-1:before { content: '\e99d'; } /* '' */
.fontello-up-open-1:before { content: '\e99e'; } /* '' */
.fontello-accessibility:before { content: '\e99f'; } /* '' */
.fontello-guidedog:before { content: '\e9a0'; } /* '' */
.fontello-blind:before { content: '\e9a1'; } /* '' */
.fontello-hearing-impaired:before { content: '\e9a2'; } /* '' */
.fontello-glasses-1:before { content: '\e9a3'; } /* '' */
.fontello-rounded-glasses:before { content: '\e9a4'; } /* '' */
.fontello-sitemap:before { content: '\e9a5'; } /* '' */
.fontello-glasses-with-circular-lenses:before { content: '\e9a6'; } /* '' */
.fontello-search-2:before { content: '\e9a7'; } /* '' */
.fontello-sitemap-1:before { content: '\e9a8'; } /* '' */
.fontello-down-open:before { content: '\f004'; } /* '' */
.fontello-up-open:before { content: '\f005'; } /* '' */
.fontello-right-open:before { content: '\f006'; } /* '' */
.fontello-left-open:before { content: '\f007'; } /* '' */
.fontello-user-1:before { content: '\f061'; } /* '' */
.fontello-users-1:before { content: '\f064'; } /* '' */
.fontello-menu:before { content: '\f0c9'; } /* '' */
.fontello-angle-double-left:before { content: '\f100'; } /* '' */
.fontello-angle-double-right:before { content: '\f101'; } /* '' */
.fontello-odnoklassniki-1:before { content: '\f263'; } /* '' */
.fontello-telegram:before { content: '\f2c6'; } /* '' */
